/* app css stylesheet */

html { 
  background: url(../assets/newCloseFly.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
}

body {
  margin: 0 auto;
  height:100%;
  background-color: transparent;
  opacity:100;
}

form {
  margin: 1em 0;
}

form button {
  background-position: 10px;
  border: none;
  border-radius: 5px;
  color: #CCCCCC;
  font-size: 1.2em;
  font-weight: bold;
  width: 7em;
}

form input {
  border-radius: 3px;
  padding: 0 0.5em;
}

form input[type='date'] {
  width: 9em;
}

form input[type='time'] {
  width: 7.5em;
}

h1 {
  color: black;
  padding: 15px;
  padding-left:0px;
}

h3 {
  position: relative;
  left:10px;
  word-spacing:2px;
}

#main {
  padding: 0 1em;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#map {
  margin: auto;
}

.alert {
  margin-left: 2.5em;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: black;
  border-color: black;
  color: #777;
}

.box {
  width:25px;
  height:25px;
  vertical-align:text-bottom;
}

.chart div { 
  font: 10px sans-serif;
  background-color: #3cbeb7;
  text-align: right;
  padding: 3px;
  padding-top:1px;
  margin: 7px;
  margin-top:1px;
  color: #404040;
  font-size: 1.5em;
  height:40px;
  font-weight:bold;
  font-size: 1.2em;
}

.chart label {
  color:rgb(248, 6, 94);
  font-weight: normal;
  vertical-align:bottom;
  margin: 5px;
  font-size:1.6em;
}

.chartBorder {
  background-color: rgba(0,0,0,.8);
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  border: #000 1px solid;
}

.container-fluid {
  position:relative;
}

.container-vote {
  background-color: rgba(0,0,0,.7);
  border-radius:5px;
  border-color:black;
}

.home {
  text-align: center;
  background-color: rgba(0,0,0,.8);
  padding: 30px;
  border-radius: 5px;
  margin:100px;
  color:#777;
}

.home h1 {
  margin-bottom: 0;
  font-size: 4em;
}

.home h3 {
  font-weight:normal;
  font-size:1.7em;
  margin-bottom:50px;
  margin-top:50px;
  left:0px;
}

.home hr {
  margin: 2px;
}

.lead {
  color: #EEEEEE;
}

.link-list {
  background-color: rgba(0,0,0,.5);
  border-radius:5px;
  padding:10px;
  font-weight: normal;
}

.link-list label {
  font-weight: normal;
}

.multiple {
  padding-bottom: 10px;
  color: black;
}

.navbar {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.navbar-header {
  font-size: 1.5em;
  padding-bottom:5px;
}

.navbar-default {
  background-color: #101010;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
  color: #EEEEEE;
  font-size: 2.0em;
}

.navbar-default .navbar-nav {
  font-size:2.3em;
  position:absolute;
  bottom:2px;
  right:20px;
  color:#EEEEEE;
}
 
.navbar-default .navbar-nav>li>a:hover {
  color: rgb(248, 6, 94);
}

.navbar-default .navbar-nav>li>a:focus {
  color: #777;
}

.path-link {
  color:#EEEEEE;
  font-size:1.1em;
  font-weight:normal;
}

.path-link:hover, .path-link:visited {
  color: rgb(248, 6, 94);
  text-decoration:none;
}

.pollAlert {
  font-size: 1.3em;
  color:rgb(248, 6, 94);
  padding:5px;
}

.radio {
  font-size:1.3em;
}

.radio label {
  color:#EEEEEE;
  font-size: 1.2em;
}

.result {
  color: rgb(248, 6, 94);
}

.result-button {
  font-size:1.2em;
  color:#DDDDDD;
  padding: 20px;
}

.result-button label {
  font-weight:normal;
  font-size:1.4em;
}

.result-title h2 {
  background-color: rgba(0,0,0,.5);
  border-radius:5px;
  color:#CCCCCC;
  padding:10px;
}

.tagline {
  color:#DDDDDD;
  font-size:1.1em;
  padding-top:25px;
}

.vote-box {
  margin: 40px 10px;
  padding: 15px;
}

.vote-box hr {
  border-color: rgb(248, 6, 94);
}

.vote-button {
  margin-top:50px;
}

.well {
  font-size: 1.7em;
  background-color: rgba(0,0,0,.7);
  border-radius:5px;
  padding:10px;
  margin-top:50px;
  color:#DDDDDD;
  padding:15px;
  border-color:black;
  font-weight:normal;
}

::-webkit-input-placeholder {
  text-align: center;
}

@media screen and (max-width: 1170px) {
  .text-block {
    display:block;
  }

  .home {
    margin:10px;
    margin-top:50px;
  }
  
  .home h3 {
    left: 0px;
  }

}

@media screen and (max-width: 850px) {
  body {
    max-width: 100%;
  }

  .alert {
    margin-left:0px;
  }

  .home h3 {
    left: 0px;
    font-size: 1.3em;
  }

  .link-list {
    width:100%;
  }

  .pollAlert {
    font-size: 1em;
  }

  .path-link {
    font-size:.9em;
  }
}

@media screen and (max-width: 550px) {
  #main {
    margin: 0px 15px;
    max-width: 100%;
  }

  .home {
    margin:10px;
  }

  .navbar-default .navbar-nav {
    font-size:2em;
  }

  .navbar-header {
    padding-bottom:20px;
    position:relative;
  }

  .radio input[type=radio] {
    position:relative;
    margin-left: 0px;
  }

  .radio label {
    padding-left:0px;
  }

  .result-title h2 {
    font-size:1.7em;
  }

  .tagline {
    position: absolute;
    top: 24px;
  }

  .well {
    font-size: 1.4em;
  }

}
