/* app css stylesheet */
a {
  font-weight: bold;
  text-decoration: none;
}

body {
  max-width: 60%;
  margin: 0 auto;
}

form {
  margin: 1em 0;
}

form button {
  background-position: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  width: 7em;
}

form input {
  border-radius: 3px;
  padding: 0 0.5em;
}

form input[type='date'] {
  width: 9em;
}

form input[type='time'] {
  width: 7.5em;
}

#main {
  padding: 0 1em;
}

#map {
  margin: auto;
}

.alert {
  margin-left: 2.5em;
}

.multiple {
  vertical-align: middle;
}

.navbar {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.navbar-default {
  background-color: #101010;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
  color: #fff;
  font-size: 2.0em;
}

.navbar-default .navbar-nav {
  font-size:1.4em;
}
 
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #777;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#40e0d0;
  opacity: 0.5;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  /*width: 50%;  Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.pollAlert {
  font-size: 1.5em;
}

.well {
  font-size: 1.2em;
}

::-webkit-input-placeholder {
  text-align: center;
}

@media screen and (max-width: 1080px) {
  body {
    max-width: 75%;
  }
}

@media screen and (max-width: 830px) {
  body {
    max-width: 100%;
  }
}
