<div ng-controller="NewPollController">  
  <h1>Create A New Poll</h1>
  <form role="form" ng-submit="createNewPoll()">
    <div class="form-group">
      <label for="pollQuestion">Question</label>
      <input type="text" ng-model="poll.question" class="form-control" id="" placeholder="Enter poll question here">
    </div>
    <div class="form-group">
      <label> Choices </label>
      <div ng-repeat="choice in poll.choices">
        <input type="text" ng-model="choice.text" class="form-control" placeholder="Enter poll choice {{$index+1}} here">
        <br>
      </div>
      <button type="button" class="btn btn-default btn-block" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add More Choices </button>
    </div>
    <div class="form-group">
      <input type="checkbox" class="box" ng-model="poll.multiple">
      <label><span class="multiple"> Allow voting on multiple choices</span></label>
    </div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
    <p><hr></p><br><br>
    <div class="link-list" ng-show="voted">
      <label class="pollAlert"> Awesome! Access and share your poll below: </label>
      <alert class="alert" ng-repeat="path in pathAlert">
        <a class="path-link" href="{{path}}">{{path}}</a><br>
      </alert>
    </div>
</div>